*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

p{
    color: white;
    font-family: 'Inter', sans-serif;
}

html, body{
    background-color: #5072A7;
    font-family: 'Inter', sans-serif;

}

nav{
    height: 80px;
    display: flex;
    justify-content: center;
    background-color: rgb(10, 11, 68);
    width: 100%;
    position: fixed;
    z-index: 5;
}

ul{
    margin-right: 1rem;
    list-style: none;
    align-items: center;
    justify-content: center;
    display: flex;
}

li{
    transition: all 0.2s;
}

li a{
    color: white;
}

li:hover{
    transform: scale(1.2);
}

a{
    color: black;
    text-decoration: none;
}

.main-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.main-section{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.third-section{
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    justify-content: center;
    align-items: center;
}

.questions{
    margin: 5rem 0;
    color: white;
}
  
.questions h1{
    font-style: italic;
    text-decoration: underline;
}

.main-txt{ 
    grid-area: main-txt; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5rem 0;
}

.txt{
    margin: 3rem 0;
}
  
.sub-title{
    font-style: italic;
    margin-top: 2rem;
    font-size: 50px;
}

.main-img{ 
    grid-area: main-img; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-img{
    width: 50vw;
    height: 50vh;
    border-radius: 20px;
}


.contact-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5rem;
    min-height: 30vh;
    background-color: #041E42;
}

.contact-ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.car-section{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    background-color: white;
    border: solid 1px black;
    transition: all 0.3s ease;
}

.btn-slide2 {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 200px;
    line-height: 50px;
    padding: 0;
    border-radius: 50px;
    background: #fdfdfd;
    border: 2px solid #0099cc;
    margin: 10px;
    transition: .5s;
}

.btn-slide2 {
    border: 2px solid #efa666;
}

.btn-slide2:hover {
    background-color: #efa666;
}

.btn-slide2:hover span.circle2 {
    left: 100%;
    margin-left: -45px;
    background-color: #fdfdfd;
    color: #0099cc;
}

.btn-slide2:hover span.circle2 {
    color: #efa666;
}

btn-slide2:hover span.title2 {
    left: 40px;
    opacity: 0;
}

.btn-slide2:hover span.title-hover2 {
    opacity: 1;
    left: 40px;
}

.btn-slide2 span.circle2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0099cc;
    color: #fff;
    position: absolute;
    float: left;
    margin: 5px;
    line-height: 42px;
    height: 40px;
    width: 40px;
    top: 0;
    left: 0;
    transition: .5s;
    border-radius: 50%;
}

.btn-slide2 span.circle2 {
    background-color: #efa666;
}

.btn-slide2 span.title2,
.btn-slide2 span.title-hover2 {
    position: absolute;
    left: 90px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    color: #30abd5;
    transition: .5s;
}

.btn-slide2 span.title2,
  .btn-slide2 span.title-hover2 {
    color: #efa666;
    left: 70px;
  }

.btn-slide2 span.title-hover2 {
    left: 80px;
    opacity: 0;
}

.btn-slide2 span.title-hover2 {
    color: #fff;
}

.contact-ul{
    list-style: none;
}

.contact-li{
    color: white;
    text-decoration: none;
}

.car-section:hover{
    transform: scale(1.2);
}


.question-list{
    color:#041E42;
    margin: 1rem 0;
    font-size: 30px;
    cursor: pointer;
    margin: 2rem 0;
    transition: all 0.3s ease;
}

.question-answer{
    transition: all 0.3s ease;
}


.hidden{
    visibility:hidden;
}

